.git
.gitignore
.github
.vscode
*.md
docs
nogit
**/.DS_Store
**/.gitignore
**/.next
**/.strapi
**/.tmp
**/.turbo
**/dist
**/export*
**/node_modules
**/.env
**/.env.*
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
.venv
__marimo__
