.quadrant-plot svg {
  border-radius: 10px;
  box-shadow: 3px 3px 6px #cccccc;
}

.quadrant-plot svg .domain {
  stroke: #797979;
  stroke-width: 2px;
}

.quadrant-plot svg .tick line {
  stroke: #797979;
  stroke-width: 2px;
}

.quadrant-plot svg text {
  font-size: 1rem;
  font-weight: lighter;
}

.quadrant-plot #resultPoint {
  fill: var(--primary, #007bff);
}
